{
	"dass": [{
		"pySetting": "$isClusterUpgrading",
		"pyPurpose": "IsClusterUpgrading",
		"pyOwner": "Pega-Engine"
	}, {
		"pySetting": "$isPatchUpgradeInProgress",
		"pyPurpose": "PatchUpgradeInProgress",
		"pyOwner": "Pega-Engine"
	}]
}
